#title{
  background-color: #ff4c68;
}

#features{

  text-align: center;
}

h1 {  color: white; font-family: 'Roboto';  font-size: 3rem;  line-height: 1.5;  font-weight: 900;}
h2{
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2;
}

.bartop{
  padding: 0 0 50px;
}

.downloadbutton{
  margin-top: 40px;
}

.container-fluid{
  padding: 3% 15%;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;

}

.phone{
  position: static;
  left: 500px;
  width: 60%;
  transform: rotate(20deg);
}


/* Features */

.fas{
  color: red;
  size: 500px;
  padding-bottom: 1.5rem;
}

.feat{
  padding: 9% 5%;
}

.fas:hover{
  color: green;
}

.row-feat{
  padding: 0 10%;
}

/*Testimonials*/
#testimonials{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 20%;
  color: white;
}

/*Press*/
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3rem;
}

/*Card*/
#pricing{
  text-align: center;
}

.pricing-col{
  padding-top: 3%;
}

.card{
  text-align: center;
}
